# Análise dos dados de reembolso dos senadores 2018

In [1]:
#importat bibliotecas
import pandas as pd

In [10]:
#carregar o arquivo csv
df = pd.read_csv('despesa_ceaps_2018.csv', sep=';', encoding='latin1', skiprows=1, decimal=',')

df.head()

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2018,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,NaN,02/01/2018,Despesa com pagamento de aluguel de imóvel par...,6000.00,2088462
1,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,M2CJMM,02/01/2018,"Companhia Aérea: AVIANCA, Localizador: M2CJMM....",274.99,2088476
2,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,SFEXYF,02/01/2018,"Companhia Aérea: LATAM, Localizador: SFEXYF. P...",1094.29,2088528
3,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,V64HTR,24/01/2018,"Companhia Aérea: AZUL, Localizador: V64HTR. Pa...",1553.99,2088475
4,2018,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,002/18,01/02/2018,Despesa com pagamento de aluguel de imóvel par...,6000.00,2088477

In [12]:
# verificar tamanhos e tipos de dadps
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24492 entries, 0 to 24491
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO                24492 non-null  int64
 1   MES                24492 non-null  int64
 2   SENADOR            24492 non-null  object
 3   TIPO_DESPESA       24492 non-null  object
 4   CNPJ_CPF           24492 non-null  object
 5   FORNECEDOR         24492 non-null  object
 6   DOCUMENTO          23476 non-null  object
 7   DATA               24492 non-null  object
 8   DETALHAMENTO       18882 non-null  object
 9   VALOR_REEMBOLSADO  24492 non-null  float64
 10  COD_DOCUMENTO      24492 non-null  int64
dtypes: float64(1), int64(3), object(7)
memory usage: 2.1+ MB

In [13]:
#mostras uma analise quantitativa dos dados
df.describe()

           ANO           MES  VALOR_REEMBOLSADO  COD_DOCUMENTO
count  24492.0  24492.000000       24492.000000   2.449200e+04
mean    2018.0      6.192226        1045.431215   2.100346e+06
std        0.0      3.305847        2718.840577   7.881637e+03
min     2018.0      1.000000           0.010000   2.085892e+06
25%     2018.0      3.000000         125.000000   2.093630e+06
50%     2018.0      6.000000         287.200000   2.100348e+06
75%     2018.0      9.000000        1032.005000   2.107072e+06
max     2018.0     12.000000      103900.000000   2.118038e+06

In [15]:
# total de reembolso

df['VALOR_REEMBOLSADO'].sum()

25604701.33

In [17]:
# quantos reembolso por senador
df['SENADOR'].value_counts()

EDUARDO LOPES          864
PAULO BAUER            824
WELLINGTON FAGUNDES    800
JOSÉ SERRA             715
GLEISI HOFFMANN        653
                      ...
ALVARO DIAS             40
FERNANDO COLLOR         27
JADER BARBALHO          19
CRISTOVAM BUARQUE       16
ZÉ SANTANA               8
Name: SENADOR, Length: 91, dtype: int64

In [20]:
# total de reembolso por senador
df.groupby('SENADOR')['VALOR_REEMBOLSADO'].sum()

SENADOR
ACIR GURGACZ           317797.29
AIRTON SANDOVAL        308350.35
ALVARO DIAS             44037.88
ANA AMÉLIA             147226.50
ANTONIO ANASTASIA      277230.59
                         ...
WELLINGTON FAGUNDES    417778.67
WILDER MORAIS          159069.64
ZEZÉ PERRELLA          312714.95
ZÉ SANTANA              23300.67
ÂNGELA PORTELA         485806.44
Name: VALOR_REEMBOLSADO, Length: 91, dtype: float64

In [22]:
# ordenar
df.groupby('SENADOR')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=False)

SENADOR
EDUARDO BRAGA         529599.18
VANESSA GRAZZIOTIN    515969.63
JOÃO CAPIBERIBE       513333.90
ÂNGELA PORTELA        485806.44
OMAR AZIZ             484143.98
                        ...
ALVARO DIAS            44037.88
WALTER PINHEIRO        32733.67
CRISTOVAM BUARQUE      32400.00
ZÉ SANTANA             23300.67
IONE GUIMARÃES         11379.91
Name: VALOR_REEMBOLSADO, Length: 91, dtype: float64

In [24]:
df.groupby('SENADOR')['VALOR_REEMBOLSADO'].sum().sort_values(ascending=True)

SENADOR
IONE GUIMARÃES         11379.91
ZÉ SANTANA             23300.67
CRISTOVAM BUARQUE      32400.00
WALTER PINHEIRO        32733.67
ALVARO DIAS            44037.88
                        ...
OMAR AZIZ             484143.98
ÂNGELA PORTELA        485806.44
JOÃO CAPIBERIBE       513333.90
VANESSA GRAZZIOTIN    515969.63
EDUARDO BRAGA         529599.18
Name: VALOR_REEMBOLSADO, Length: 91, dtype: float64

In [26]:
# maiores reembolso
df.nlargest(10, 'VALOR_REEMBOLSADO')

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
21225,2018,12,ROSE DE FREITAS,Divulgação da atividade parlamentar,05.461.408/0001-84,Grafitusa S/A,000009681,29/03/2019,NaN,103900.0,2118038
21488,2018,11,SÉRGIO PETECÃO,"Contratação de consultorias, assessorias, pesq...",22.233.033/0001-14,Reis Grafica e Comercio de Etiquetas Eireli ME,4193,29/11/2018,NaN,102000.0,2111449
21491,2018,12,SÉRGIO PETECÃO,"Contratação de consultorias, assessorias, pesq...",22.233.033/0001-14,Reis Grafica e Comercio de Etiquetas Eireli ME,000004252,17/12/2018,NaN,102000.0,2115868
22666,2018,12,VANESSA GRAZZIOTIN,"Contratação de consultorias, assessorias, pesq...",28.916.527/0001-80,A MAQUINA SOLUCOES EM MIDIA LTDA ME,048,17/12/2018,TRABALHOS TÉCNICOS DE APOIO AO EXERCICIO DO MA...,100000.0,2112135
5573,2018,12,EDUARDO LOPES,Divulgação da atividade parlamentar,14.616.988/0001-22,NG Comunicação Visual Ltda,00000714,05/12/2018,NaN,66000.0,2110802
22320,2018,12,VALDIR RAUPP,"Contratação de consultorias, assessorias, pesq...",24.342.184/0001-36,MSB COMERCIO E SERVIÇOS EIRELI - ME,000000000000941A,28/12/2018,"Edição, diagramação, elaboração e impressão de...",60000.0,2112656
14995,2018,12,OMAR AZIZ,Divulgação da atividade parlamentar,24.930.645/0001-91,JOBGRAF - Serviços Gráficos EIRELI-ME,154,20/12/2018,". Jornal - 12 páginas Papel offset 120g, 57x60...",56700.0,2112491
21064,2018,4,ROSE DE FREITAS,Divulgação da atividade parlamentar,05.461.408/0001-84,Grafitusa S/A,7679,10/04/2018,NaN,55980.0,2093138
4908,2018,3,EDUARDO LOPES,Divulgação da atividade parlamentar,14.616.988/0001-22,NG Comunicação Visual Ltda,371,08/03/2018,NaN,55758.0,2092460
24400,2018,9,ZEZÉ PERRELLA,"Contratação de consultorias, assessorias, pesq...",13.525.884/0001-40,FG Serviços Ltda,000000039,27/09/2018,NaN,50000.0,2105906

In [29]:
# 5 menores valores
df.nsmallest(5, 'VALOR_REEMBOLSADO')

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
3868,2018,5,DÁRIO BERGER,"Passagens aéreas, aquáticas e terrestres nacio...",02.575.829/0001-48,AVIANCA BRASIL,K5RKJV,29/05/2018,"Companhia Aérea: AVIANCA, Localizador: K5RKJV....",0.01,2098074
10161,2018,3,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,W4UUE7,21/03/2018,"Companhia Aérea: LATAM, Localizador: W4UUE7. P...",0.01,2093494
10191,2018,4,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",07.575.651/0001-59,GOL TRANSPORTES AÉREOS S/A,ZHV36P,09/03/2018,"Companhia Aérea: GOL, Localizador: ZHV36P. Pas...",0.01,2093484
10196,2018,4,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,W6ZMK3,17/04/2018,"Companhia Aérea: LATAM, Localizador: W6ZMK3. P...",0.01,2112029
10233,2018,5,JORGE VIANA,"Passagens aéreas, aquáticas e terrestres nacio...",33.937.681/0001-78,LATAM,OZALEF,22/05/2018,"Companhia Aérea: LATAM, Localizador: OZALEF. P...",0.01,2100068

In [31]:
# quantidade de tipo de despesas
df['TIPO_DESPESA'].value_counts()

Locomoção, hospedagem, alimentação, combustíveis e lubrificantes                                                                                                                                   10147
Passagens aéreas, aquáticas e terrestres nacionais                                                                                                                                                  5820
Aluguel de imóveis para escritório político, compreendendo despesas concernentes a eles.                                                                                                            5042
Aquisição de material de consumo para uso no escritório político, inclusive aquisição ou locação de software, despesas postais, aquisição de publicações, locação de móveis e de equipamentos.      1761
Contratação de consultorias, assessorias, pesquisas, trabalhos técnicos e outros serviços de apoio ao exercício do mandato parlamentar                                                               928
Divulgação da atividade parlamentar                                                                                                                                                                  750
Serviços de Segurança Privada                                                                                                                                                                         44
Name: TIPO_DESPESA, dtype: int64